<div class="article-preview">
  <a href="">
    <h2 class="article-title">
      {{article.title}}
    </h2>

    {{{article.summary}}}
  </a>

  <p class="article-meta">
    Posted by {{article.author}} on
  </p>
</div>
