<header class="navigation" role="banner">
  <div class="navigation-wrapper">
		{{#link-to "index" class="logo"}}
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image">
		{{/link-to}}

    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">{{#link-to "articles"}}Artikel{{/link-to}}</li>
        <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">Kategori</a>
          <ul class="submenu">
						{{#each sections as |section|}}
              {{#link-to 'sections.section' section.slug tagName="li"}}
                <a href="">{{section.name}}</a>
              {{/link-to}}
            {{/each}}
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
